<!DOCTYPE HTML>
<!--
    ZeroFour by HTML5 UP
    html5up.net | 
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon"  type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/1041/1041883.png">
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        @await Html.PartialAsync("HeaderPartial")

        <div id="main-wrapper">
            <div class="wrapper style1">
                <div class="inner">
                    @RenderBody()
  
                </div>
            </div>
        </div>

        @await Html.PartialAsync("FooterPartial")

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>