<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">


            <div class="col-e col-6-medium imp-medium">

                <!-- About -->
                <section>
                    <h2><strong>About us</strong></h2>
                    <p>
                        Online Store
                    </p>
                    
                </section>

                <!-- Contact -->
                <section>
                    <h2>Get in touch</h2>
                    <div>
                        <div class="row">
                            <div class="col-6 col-12-small">
                                <dl class="contact">

                                    <dt>LinkedLn</dt>
                                    <dd><a href="https://www.linkedin.com/in/bogdan-zveriok-77315b242/">https://www.linkedin.com/in/bogdan-zveriok-77315b242/</a></dd>
                                    <dt>Email</dt>
                                    <dd><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">myemail@gmail.com</a></dd>
                                </dl>
                            </div>
                            <div class="col-6 col-12-small">
                                <dl class="contact">
                                    <dt>Address</dt>
                                    <dd>
                                        1234 Fictional Rd<br />
                                        Nashville, TN 00000-0000<br />
                                        USA
                                    </dd>
                                    <dt>Phone</dt>
                                    <dd>(000) 000-0000</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; Store_name. All rights reserved</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

    </div>