@model User
@{
    ViewData["Title"] = "Register";
}



<h2 style="margin-top:10px; margin-left:30px;">Registration</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" style="margin-top:10px; margin-left:30px;">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        @Html.ValidationSummary(false, "", new { @style = "color: red" })
        <div>
            <label asp-for="login">Login: </label><br />
            <input type="text" asp-for="login" />
            <span asp-validation-for="login" />
        </div>
        <div>
            <label asp-for="password">Password:</label><br />
            <input type="password" asp-for="password" />
            <span asp-validation-for="password" />
        </div>
        <div>
            <label asp-for="user_name">Name:</label><br />
            <input asp-for="user_name" />
            <span asp-validation-for="user_name" />
        </div>
        <div>
            <label asp-for="address">Address:</label><br />
            <input asp-for="address" />
            <span asp-validation-for="address" />
        </div>
        <div>
            <label asp-for="phone">Phone:</label><br />
            <input asp-for="phone" />
            <span asp-validation-for="phone" />
        </div>
        <div>
            <label asp-for="email">Email:</label><br />
            <input type="email" asp-for="email" />
            <span asp-validation-for="email" />
        </div>
        <div>
            <input type="submit" value="Sign up" />
        </div>
        <a asp-action="Login" asp-controller="Account">Already have an account? Sign in</a>

    </div>
</form>

