@{
    ViewData["Title"] = "Home";
}

<h1 style="margin-top:10px; margin-left:30px;">Main page</h1>
<img src="https://assets-global.website-files.com/5f2a93fe880654a977c51043/620fd215f344f16633f1aafc_hero_2.jpeg" alt="Simply Easy Learning" width="2070" height="750">